@tailwind preflight;
@tailwind components;

.bg-shadow {
  background-color: #10030050;
}

.icon {
  @apply bg-center bg-no-repeat bg-contain;
}

.icon-menu {
  background-image: url('./assets/icons/menu.png');
  background-size: 26px;
}

.icon-profile {
  background-image: url('./assets/icons/profile.png');
  background-size: 24px;
}

.icon-close {
  background-image: url('./assets/icons/close.png');
  background-size: 32px;
}

.icon-add {
  background-image: url('./assets/icons/add.png');
}

.transition {
  transition-duration: 0.5s;
}

@tailwind utilities;