@tailwind preflight;
@tailwind components;

.btn {
  @apply bg-white px-3 py-2 text-black;
}

.text-input {
  @apply bg-white px-3 py-2 text-black;
}

.icon {
  @apply w-8 h-8 bg-center bg-no-repeat bg-contain;
}

.icon-projects {
  background-image: url('./assets/icons/projects.png');
}

.icon-tasks {
  background-image: url('./assets/icons/tasks.png');
}

.icon-add {
  background-image: url('./assets/icons/add.png');
}

@tailwind utilities;